@import url(http://fonts.googleapis.com/css?family=Gafata);
@import url(http://fonts.googleapis.com/css?family=Spinnaker);
/**
 * If the Browser does not support impress.js
 */
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

// default

body {
    min-height: 780px;
    background-color: #EAEAEA;
}

.step {
    width: 1024px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Spinnaker', sans-serif;

    font-size: 48px;
    line-height: 1.5;
}

ul {
    text-align: left;
    list-style: circle;
}
.inside-chrome {
    color: white;
    .title {
        font-weight: bold; 
        width: 100%;
        border-bottom: 10px solid white;
    }    
}

#intro {
    img {
        z-index: -10;
        width: 10%;
        height: auto;    
    }
}

#problem {
    img {
        height: 300px;
        width: auto;
    }
}

#index {
    p {
        font-weight: bold; 
        width: 100%;
        border-bottom: 10px solid black;
    }
    ol {
        text-align: left;   
    }
}

#introduction {
    img {
        width:350px;
    }
}

#prism-fail {
    img {
        width: 50%;   
    }
}
#prism-part4 {

    li { font-size: 35px;   }
}
#sources {
    a {
        font-size: 35px;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
